 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/2407204_m.jpg');
  background-position: 50% 50%, 50% 22.53%;
  background-size: cover, cover;
  min-height: 600px;
}

.u-section-1 .u-group-elements-1 {
  width: 256px;
  min-height: 94px;
  height: auto;
  margin: 60px auto 60px 190px;
}

.u-section-1 .u-text-1 {
  font-family: "Hina Mincho";
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: 4px;
  text-shadow: 0px 0px 8px rgba(64,64,64,1);
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Cormorant Garamond";
  line-height: 1.2;
  letter-spacing: 3px;
  text-shadow: 0px 0px 8px rgba(64,64,64,1);
  font-weight: 300;
  font-size: 1.125rem;
  margin: 15px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 120px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 42px;
  }
} .u-section-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 806px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -363px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 686px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 560px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 686px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  font-family: "Hina Mincho";
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: "Cormorant Garamond";
  letter-spacing: 3px;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: 8px auto 0 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 1px;
  line-height: 2.2;
  font-family: "Shippori Mincho B1";
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: 50px 0 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-2 .u-image-1 {
    height: 479px;
    margin-top: 57px;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 592px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 40px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-2 .u-image-1 {
    inset: auto;
    height: 395px;
    margin-top: 59px;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 512px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-top: -42px;
    margin-bottom: -42px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-2 .u-image-1 {
    height: 345px;
    margin-top: 41px;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 1px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -52px;
    margin-bottom: -52px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 561px;
    margin-top: 18px;
    width: 100%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 346px;
    margin-top: 13px;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 175px;
}

.u-section-3 .u-text-1 {
  font-family: "Hina Mincho";
  letter-spacing: 6px;
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 500;
  margin: 65px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 6px;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
  margin: -58px auto 0;
}

.u-section-3 .u-text-3 {
  font-family: "Cormorant Garamond";
  letter-spacing: 3px;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-3 .u-line-1 {
  width: 100px;
  margin: 30px auto -52px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-3 .u-text-2 {
    font-family: "Hina Mincho";
    font-size: 2.25rem;
    margin-top: 60px;
  }

  .u-section-3 .u-line-1 {
    margin-bottom: -127px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: none;
  margin-top: 20px;
}

.u-section-4 .u-sheet-1 {
  min-height: 655px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 620px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-image-2 {
  min-height: 310px;
  background-image: url("images/photolibrary-15.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 310px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-family: "Hina Mincho";
  letter-spacing: 4px;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Shippori Mincho B1";
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0 0 1px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 608px;
  }

  .u-section-4 .u-image-2 {
    min-height: 304px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 304px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 55px;
  }

  .u-section-4 .u-image-1 {
    min-height: 501px;
  }

  .u-section-4 .u-image-2 {
    min-height: 251px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-4 .u-image-1 {
    min-height: 767px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 385px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-image-1 {
    min-height: 575px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 289px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-4 .u-image-1 {
    min-height: 362px;
  }

  .u-section-4 .u-image-2 {
    min-height: 182px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: none;
  margin-top: 20px;
}

.u-section-5 .u-sheet-1 {
  min-height: 740px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 610px;
  background-image: url("images/11.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-image-2 {
  min-height: 305px;
  background-image: url("images/4099061_m.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 40px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 305px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-family: "Hina Mincho";
  letter-spacing: 4px;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Shippori Mincho B1";
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0 0 1px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-image-1 {
    min-height: 608px;
  }

  .u-section-5 .u-image-2 {
    min-height: 304px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 304px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-5 .u-image-1 {
    min-height: 501px;
  }

  .u-section-5 .u-image-2 {
    min-height: 251px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1364px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 772px;
    --animation-custom_in-translate_y: 40px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    min-height: 389px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 271px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 90px;
  }

  .u-section-5 .u-image-1 {
    min-height: 579px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 292px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 70px;
  }

  .u-section-5 .u-image-1 {
    min-height: 365px;
  }

  .u-section-5 .u-image-2 {
    min-height: 184px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-6 {
  background-image: none;
  margin-top: 20px;
}

.u-section-6 .u-sheet-1 {
  min-height: 747px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 100%;
  margin: 130px 0 -29px;
}

.u-section-6 .u-image-1 {
  min-height: 365px;
  background-image: url("images/4099061_m.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 282px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-family: "Hina Mincho";
  letter-spacing: 4px;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Shippori Mincho B1";
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0 0 1px;
}

.u-section-6 .u-image-2 {
  min-height: 647px;
  background-image: url("images/11.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 60px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 110px;
    margin-bottom: -46px;
  }

  .u-section-6 .u-image-1 {
    min-height: 304px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-6 .u-image-2 {
    min-height: 608px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 251px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-6 .u-image-2 {
    min-height: 501px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1384px;
  }

  .u-section-6 .u-image-1 {
    min-height: 385px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    min-height: 767px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-6 .u-image-1 {
    min-height: 289px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 575px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-6 .u-image-1 {
    min-height: 182px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-image-2 {
    min-height: 362px;
  }
} .u-section-7 {
  background-image: none;
  margin-top: 20px;
}

.u-section-7 .u-sheet-1 {
  min-height: 720px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 130px;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 620px;
  background-image: url("images/photolibrary131.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-image-2 {
  min-height: 310px;
  background-image: url("images/photolibrary-52.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 310px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  font-family: "Hina Mincho";
  letter-spacing: 4px;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Shippori Mincho B1";
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0 0 1px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 110px;
  }

  .u-section-7 .u-image-1 {
    min-height: 608px;
  }

  .u-section-7 .u-image-2 {
    min-height: 304px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 304px;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 100px;
  }

  .u-section-7 .u-image-1 {
    min-height: 501px;
  }

  .u-section-7 .u-image-2 {
    min-height: 251px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 251px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-7 .u-image-1 {
    min-height: 767px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-2 {
    min-height: 385px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 90px;
  }

  .u-section-7 .u-image-1 {
    min-height: 575px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 289px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 70px;
  }

  .u-section-7 .u-image-1 {
    min-height: 362px;
  }

  .u-section-7 .u-image-2 {
    min-height: 182px;
  }
} .u-section-8 {
  background-image: none;
  margin-top: 20px;
}

.u-section-8 .u-sheet-1 {
  min-height: 891px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 130px;
  margin-bottom: 54px;
}

.u-section-8 .u-image-1 {
  min-height: 352px;
  background-image: url("images/asphoto_20241226233133.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 309px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  font-family: "Hina Mincho";
  letter-spacing: 4px;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Shippori Mincho B1";
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0 0 1px;
}

.u-section-8 .u-image-2 {
  min-height: 661px;
  background-image: url("images/asphoto_20241226233229.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 60px;
}

@media (max-width: 1399px) {
  .u-section-8 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 110px;
    margin-bottom: 110px;
  }

  .u-section-8 .u-image-1 {
    min-height: 304px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-8 .u-image-2 {
    min-height: 608px;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .u-section-8 .u-image-1 {
    min-height: 251px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-image-2 {
    min-height: 501px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1435px;
  }

  .u-section-8 .u-image-1 {
    min-height: 385px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-2 {
    min-height: 767px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-8 .u-image-1 {
    min-height: 289px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 575px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-8 .u-image-1 {
    min-height: 182px;
  }

  .u-section-8 .u-image-2 {
    min-height: 362px;
  }
} .u-section-9 {
  background-image: none;
  margin-top: 20px;
}

.u-section-9 .u-sheet-1 {
  min-height: 766px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 100%;
  margin: 60px 0;
}

.u-section-9 .u-image-1 {
  min-height: 610px;
  background-image: url("images/asphoto_20241226233229.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-9 .u-image-2 {
  min-height: 340px;
  background-image: url("images/asphoto_20241226233133.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 40px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 270px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-9 .u-text-1 {
  font-family: "Hina Mincho";
  letter-spacing: 4px;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Shippori Mincho B1";
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0 0 1px;
}

@media (max-width: 1399px) {
  .u-section-9 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-9 .u-image-1 {
    min-height: 608px;
  }

  .u-section-9 .u-image-2 {
    min-height: 304px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 304px;
  }
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-9 .u-image-1 {
    min-height: 501px;
  }

  .u-section-9 .u-image-2 {
    min-height: 251px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1464px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .u-section-9 .u-image-1 {
    min-height: 772px;
    --animation-custom_in-translate_y: 40px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-image-2 {
    min-height: 389px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 293px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .u-section-9 .u-image-1 {
    min-height: 575px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    min-height: 289px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .u-section-9 .u-image-1 {
    min-height: 362px;
  }

  .u-section-9 .u-image-2 {
    min-height: 182px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }
}