 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/2-2.webp');
  background-position: 50% 50%, 50% 34.95%;
  background-size: cover, cover;
  min-height: 600px;
}

.u-section-1 .u-group-elements-1 {
  width: 256px;
  min-height: 94px;
  height: auto;
  margin: 246px auto 60px 190px;
}

.u-section-1 .u-text-1 {
  font-family: "Hina Mincho";
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: 4px;
  text-shadow: 0px 0px 8px rgba(64,64,64,1);
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Cormorant Garamond";
  line-height: 1.2;
  letter-spacing: 3px;
  text-shadow: 0px 0px 8px rgba(64,64,64,1);
  font-weight: 300;
  font-size: 1.125rem;
  margin: 15px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 120px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 42px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1043px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1350px;
  margin: 130px 0 0 auto;
}

.u-section-2 .u-image-1 {
  min-height: 487px;
  background-image: url("images/1-1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  min-height: 487px;
  background-image: url("images/1.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 460px;
  background-image: url("images/2-1.jpg");
  background-position: 50% 50%;
  background-size: auto 125%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 460px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-family: "Hina Mincho";
  letter-spacing: 6px;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: "Shippori Mincho";
  letter-spacing: 1px;
  line-height: 1.8;
  font-size: 1rem;
  width: auto;
  margin: 20px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 411px;
  }

  .u-section-2 .u-image-2 {
    min-height: 411px;
  }

  .u-section-2 .u-image-3 {
    min-height: 388px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 388px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: -5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 339px;
  }

  .u-section-2 .u-image-2 {
    min-height: 339px;
  }

  .u-section-2 .u-image-3 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -377px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 260px;
  }

  .u-section-2 .u-image-2 {
    min-height: 260px;
  }

  .u-section-2 .u-image-3 {
    min-height: 245px;
    background-size: 125%;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: -767px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 293px;
  }

  .u-section-2 .u-image-2 {
    min-height: 585px;
    background-size: 115%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 184px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -1131px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 184px;
  }

  .u-section-2 .u-image-2 {
    min-height: 368px;
  }

  .u-section-2 .u-image-3 {
    min-height: 116px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1047px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 34px 0 -954px;
}

.u-section-3 .u-image-1 {
  min-height: 487px;
  background-image: url("images/DSC00449--NR.jpg");
  background-position: 33.42% 61.11%;
  background-size: cover;
  background-repeat: no-repeat;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 487px;
  background-image: url("images/photolibrary-83.jpg");
  background-position: 50% 50%;
  background-size: cover;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 460px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-family: "Hina Mincho";
  letter-spacing: 6px;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-family: "Shippori Mincho";
  letter-spacing: 1px;
  line-height: 1.8;
  font-size: 1rem;
  width: auto;
  margin: 20px auto 0 0;
}

.u-section-3 .u-image-3 {
  min-height: 460px;
  background-image: url("images/asDSC099142.jpg");
  background-position: 50% 50%;
  background-size: auto 125%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -2762px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 411px;
  }

  .u-section-3 .u-image-2 {
    min-height: 411px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 388px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-3 .u-image-3 {
    min-height: 388px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -4219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 339px;
  }

  .u-section-3 .u-image-2 {
    min-height: 339px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 320px;
  }

  .u-section-3 .u-image-3 {
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -6892px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 260px;
  }

  .u-section-3 .u-image-2 {
    min-height: 260px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 302px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    min-height: 256px;
    background-size: 125%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 69px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 192px;
    background-size: 115%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 293px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-3 {
    min-height: 192px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -2412px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 121px;
  }

  .u-section-3 .u-image-2 {
    min-height: 184px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-3 {
    min-height: 121px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 967px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.u-section-4 .u-image-1 {
  min-height: 450px;
  background-image: url("images/photolibrary-84.jpg");
  background-position: 50% 50%;
  background-size: auto 115%;
  background-repeat: no-repeat;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 450px;
  background-image: url("images/photolibrary-83.jpg");
  background-position: 50% 82.99%;
  background-size: cover;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  min-height: 453px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-image: url("images/asDSC099142.jpg");
  background-size: auto 125%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 453px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 6px;
  font-size: 3rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-family: "Shippori Mincho";
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 30px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-4 .u-image-1 {
    min-height: 380px;
  }

  .u-section-4 .u-image-2 {
    min-height: 380px;
  }

  .u-section-4 .u-image-3 {
    min-height: 383px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 383px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-4 .u-image-1 {
    min-height: 313px;
  }

  .u-section-4 .u-image-2 {
    min-height: 313px;
  }

  .u-section-4 .u-image-3 {
    min-height: 316px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 316px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: -581px;
  }

  .u-section-4 .u-image-1 {
    min-height: 256px;
  }

  .u-section-4 .u-image-2 {
    min-height: 256px;
  }

  .u-section-4 .u-image-3 {
    background-position: 50% 63.9%;
    min-height: 256px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    line-height: 1.8;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -1081px;
  }

  .u-section-4 .u-image-1 {
    min-height: 288px;
    background-size: 115%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 288px;
  }

  .u-section-4 .u-image-3 {
    min-height: 192px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: -1089px;
  }

  .u-section-4 .u-image-1 {
    min-height: 181px;
  }

  .u-section-4 .u-image-2 {
    min-height: 181px;
  }

  .u-section-4 .u-image-3 {
    min-height: 121px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/photolibrary-84.jpg');
  background-position: 50% 50%, 0% 55.69%;
  background-size: 135%, 145%;
  margin-top: 20px;
}

.u-section-5 .u-sheet-1 {
  min-height: 490px;
}

.u-section-5 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 6px;
  font-size: 2.25rem;
  margin: 130px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 2;
  margin: 20px 686px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 40px 0;
  padding: 0 0 1px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 110px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 553px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 54px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 353px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 90px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 133px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 90px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    background-size: auto 135%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 54px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 50% 50%, 50% 50%;
    background-size: 135%, cover;
    background-repeat: no-repeat, no-repeat;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 80px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 80px;
  }
} .u-section-6 {
  margin-top: 20px;
}

.u-section-6 .u-sheet-1 {
  min-height: 745px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-6 .u-image-1 {
  min-height: 490px;
  background-image: url("images/DSC020051.jpg");
  background-position: 50% 40.72%;
  background-size: cover;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  min-height: 509px;
  background-image: url("images/27438613_m.jpg");
  background-position: 45.82% 16.31%;
  background-size: cover;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Open Sans", sans-serif;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 400;
}

.u-section-6 .u-container-layout-2 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: normal;
  font-size: 1rem;
  padding: 30px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 509px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-family: "Hina Mincho";
  letter-spacing: 6px;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-family: "Shippori Mincho";
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.8;
  width: auto;
  margin: 20px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 414px;
  }

  .u-section-6 .u-image-2 {
    min-height: 430px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 430px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-6 .u-image-1 {
    min-height: 341px;
  }

  .u-section-6 .u-image-2 {
    min-height: 355px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 261px;
  }

  .u-section-6 .u-image-2 {
    min-height: 256px;
    background-position: 45.82% 26.62%;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-6 .u-image-1 {
    min-height: 288px;
  }

  .u-section-6 .u-image-2 {
    min-height: 192px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 181px;
  }

  .u-section-6 .u-image-2 {
    min-height: 121px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/photolibrary-105.jpg');
  background-position: 50% 50%, 0% 51.62%;
  background-size: 135%, 120%;
  margin-top: 20px;
}

.u-section-7 .u-sheet-1 {
  min-height: 526px;
}

.u-section-7 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 6px;
  font-size: 2.25rem;
  margin: 130px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 2;
  margin: 23px 688px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 58px 0;
  padding: 0 0 1px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 110px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 478px;
  }

  .u-section-7 .u-btn-1 {
    margin-bottom: 78px;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 278px;
  }

  .u-section-7 .u-btn-1 {
    margin-bottom: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 90px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 58px;
  }

  .u-section-7 .u-btn-1 {
    margin-bottom: 90px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    background-size: auto 135%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 80px;
  }

  .u-section-7 .u-btn-1 {
    margin-bottom: 80px;
  }
} .u-section-8 {
  margin-top: 20px;
}

.u-section-8 .u-sheet-1 {
  min-height: 954px;
}

.u-section-8 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 6px;
  font-size: 2.25rem;
  font-weight: 500;
  margin: 100px auto 0;
}

.u-section-8 .u-text-2 {
  width: 746px;
  font-family: "Cormorant Garamond";
  letter-spacing: 2px;
  font-size: 1rem;
  margin: 15px auto 0;
}

.u-section-8 .u-line-1 {
  width: 100px;
  margin: 30px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 552px;
  grid-gap: 17px;
  margin: 60px 0 98px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.u-section-8 .u-gallery-item-1 {
  --effect-scale: 3;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-2 {
  --effect-scale: 3;
}

.u-section-8 .u-back-image-2 {
  object-position: 50% 25.95%;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-3 {
  --effect-scale: 3;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-4 {
  --effect-scale: 3;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-5 {
  --effect-scale: 3;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-6 {
  --effect-scale: 3;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1399px) {
  .u-section-8 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-8 .u-gallery-1 {
    height: 467px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-8 .u-gallery-1 {
    margin-bottom: 68px;
    height: 386px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-gallery-1 {
    height: 678px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2396px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-gallery-1 {
    margin-bottom: 53px;
    height: 2064px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1657px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-gallery-1 {
    margin-bottom: 52px;
    height: 1331px;
    margin-right: initial;
    margin-left: initial;
  }
}