 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/2-2.webp');
  background-position: 50% 50%, 50% 34.95%;
  background-size: cover, cover;
  min-height: 600px;
}

.u-section-1 .u-group-elements-1 {
  width: 256px;
  min-height: 94px;
  height: auto;
  margin: 246px auto 60px 190px;
}

.u-section-1 .u-text-1 {
  font-family: "Hina Mincho";
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: 4px;
  text-shadow: 0px 0px 8px rgba(64,64,64,1);
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Cormorant Garamond";
  line-height: 1.2;
  letter-spacing: 3px;
  text-shadow: 0px 0px 8px rgba(64,64,64,1);
  font-weight: 300;
  font-size: 1.125rem;
  margin: 15px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 120px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 42px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1138px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1350px;
  margin: 150px -28px 75px auto;
}

.u-section-2 .u-image-1 {
  min-height: 480px;
  background-image: url("images/1-1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  min-height: 480px;
  background-image: url("images/1.webp");
  background-position: 50% 50%;
  background-size: auto 115%;
  background-repeat: no-repeat;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 453px;
  background-image: url("images/2-1.jpg");
  background-position: 50% 50%;
  background-size: auto 125%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 453px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 6px;
  font-size: 3rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: "Shippori Mincho";
  letter-spacing: 1px;
  line-height: 1.8;
  font-size: 1rem;
  width: auto;
  margin: 30px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 1140px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 405px;
  }

  .u-section-2 .u-image-2 {
    min-height: 405px;
  }

  .u-section-2 .u-image-3 {
    min-height: 383px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 383px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 334px;
  }

  .u-section-2 .u-image-2 {
    min-height: 334px;
  }

  .u-section-2 .u-image-3 {
    min-height: 316px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 316px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: -251px;
  }

  .u-section-2 .u-image-1 {
    min-height: 256px;
  }

  .u-section-2 .u-image-2 {
    min-height: 256px;
  }

  .u-section-2 .u-image-3 {
    min-height: 256px;
    background-size: 125%;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -694px;
  }

  .u-section-2 .u-image-1 {
    min-height: 288px;
  }

  .u-section-2 .u-image-2 {
    min-height: 192px;
    background-size: 115%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 192px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 181px;
  }

  .u-section-2 .u-image-2 {
    min-height: 121px;
  }

  .u-section-2 .u-image-3 {
    min-height: 121px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1063px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 75px 0 -979px;
}

.u-section-3 .u-image-1 {
  min-height: 480px;
  background-image: url("images/photolibrary-84.jpg");
  background-position: 50% 50%;
  background-size: auto 115%;
  background-repeat: no-repeat;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 480px;
  background-image: url("images/photolibrary-83.jpg");
  background-position: 50% 50%;
  background-size: cover;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 453px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 6px;
  font-size: 3rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-family: "Shippori Mincho";
  letter-spacing: 1px;
  line-height: 1.8;
  font-size: 1rem;
  width: auto;
  margin: 30px auto 0 0;
}

.u-section-3 .u-image-3 {
  min-height: 453px;
  background-image: url("images/asDSC099142.jpg");
  background-position: 50% 50%;
  background-size: auto 125%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -2758px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 405px;
  }

  .u-section-3 .u-image-2 {
    min-height: 405px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 383px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-3 .u-image-3 {
    min-height: 383px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -4229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 334px;
  }

  .u-section-3 .u-image-2 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 316px;
  }

  .u-section-3 .u-image-3 {
    min-height: 316px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -6892px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 256px;
  }

  .u-section-3 .u-image-2 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 302px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    min-height: 256px;
    background-size: 125%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 69px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 192px;
    background-size: 115%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 288px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-3 {
    min-height: 192px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -2412px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 121px;
  }

  .u-section-3 .u-image-2 {
    min-height: 181px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-3 {
    min-height: 121px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 967px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.u-section-4 .u-image-1 {
  min-height: 450px;
  background-image: url("images/photolibrary-84.jpg");
  background-position: 50% 50%;
  background-size: auto 115%;
  background-repeat: no-repeat;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 450px;
  background-image: url("images/photolibrary-83-1000x667.jpg");
  background-position: 50% 82.99%;
  background-size: cover;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  min-height: 453px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-image: url("images/asDSC099142.jpg");
  background-size: auto 125%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 453px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 6px;
  font-size: 3rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-family: "Shippori Mincho";
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 30px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-4 .u-image-1 {
    min-height: 380px;
  }

  .u-section-4 .u-image-2 {
    min-height: 380px;
  }

  .u-section-4 .u-image-3 {
    min-height: 383px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 383px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-4 .u-image-1 {
    min-height: 313px;
  }

  .u-section-4 .u-image-2 {
    min-height: 313px;
  }

  .u-section-4 .u-image-3 {
    min-height: 316px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 316px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: -601px;
  }

  .u-section-4 .u-image-1 {
    min-height: 256px;
  }

  .u-section-4 .u-image-2 {
    min-height: 256px;
  }

  .u-section-4 .u-image-3 {
    background-position: 50% 63.9%;
    min-height: 256px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    line-height: 1.8;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -1121px;
  }

  .u-section-4 .u-image-1 {
    min-height: 288px;
    background-size: 115%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 288px;
  }

  .u-section-4 .u-image-3 {
    min-height: 192px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -613px;
  }

  .u-section-4 .u-image-1 {
    min-height: 181px;
  }

  .u-section-4 .u-image-2 {
    min-height: 181px;
  }

  .u-section-4 .u-image-3 {
    min-height: 121px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 770px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 75px auto 150px 0;
}

.u-section-5 .u-image-1 {
  min-height: 480px;
  background-image: url("images/DSC020051.jpg");
  background-position: 50% 40.72%;
  background-size: cover;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  min-height: 499px;
  background-image: url("images/27438613_m.jpg");
  background-position: 45.82% 16.31%;
  background-size: cover;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Open Sans", sans-serif;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 400;
}

.u-section-5 .u-container-layout-2 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: normal;
  font-size: 1rem;
  padding: 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 499px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 6px;
  font-size: 3rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-family: "Shippori Mincho";
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.8;
  width: auto;
  margin: 30px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 405px;
  }

  .u-section-5 .u-image-2 {
    min-height: 421px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 421px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-5 .u-image-1 {
    min-height: 334px;
  }

  .u-section-5 .u-image-2 {
    min-height: 347px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-5 .u-image-1 {
    min-height: 256px;
  }

  .u-section-5 .u-image-2 {
    min-height: 256px;
    background-position: 45.82% 26.62%;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-5 .u-image-1 {
    min-height: 288px;
  }

  .u-section-5 .u-image-2 {
    min-height: 192px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-5 .u-image-1 {
    min-height: 181px;
  }

  .u-section-5 .u-image-2 {
    min-height: 121px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 957px;
}

.u-section-6 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 6px;
  font-size: 3rem;
  font-weight: 500;
  margin: 75px auto 0;
}

.u-section-6 .u-text-2 {
  width: 746px;
  font-family: "Cormorant Garamond";
  letter-spacing: 2px;
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-6 .u-line-1 {
  width: 100px;
  margin: 30px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 552px;
  grid-gap: 17px;
  margin: 60px 0 126px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-6 .u-gallery-item-1 {
  --effect-scale: 3;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  --effect-scale: 3;
}

.u-section-6 .u-back-image-2 {
  object-position: 50% 25.95%;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  --effect-scale: 3;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  --effect-scale: 3;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  --effect-scale: 3;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  --effect-scale: 3;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-6 .u-gallery-1 {
    height: 467px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-gallery-1 {
    height: 386px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-gallery-1 {
    height: 678px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2469px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2064px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1736px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1331px;
    margin-right: initial;
    margin-left: initial;
  }
}