 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/2.webp');
  background-position: 50% 50%;
  background-size: cover, cover;
  min-height: 600px;
}

.u-section-1 .u-group-elements-1 {
  width: 256px;
  min-height: 94px;
  height: auto;
  margin: 246px auto 60px 190px;
}

.u-section-1 .u-text-1 {
  font-family: "Hina Mincho";
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: 4px;
  text-shadow: 0px 0px 8px rgba(64,64,64,1);
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Cormorant Garamond";
  line-height: 1.2;
  letter-spacing: 3px;
  text-shadow: 0px 0px 8px rgba(64,64,64,1);
  font-weight: 300;
  font-size: 1.125rem;
  margin: 15px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 120px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 42px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1436px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 120px;
  margin-bottom: 60px;
  width: 100%;
}

.u-section-2 .u-image-1 {
  background-position: 50% 50%;
  background-image: url("images/3.jpg");
  background-size: cover;
  min-height: 414px;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-2 {
  padding: 50px;
}

.u-section-2 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 4px;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 1px;
  line-height: 1.8;
  font-size: 1rem;
  font-family: "Shippori Mincho B1";
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-3 {
  padding: 50px;
}

.u-section-2 .u-text-3 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 4px;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8;
  font-family: "Shippori Mincho B1";
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 414px;
  background-image: url("images/2.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  background-position: 50% 50%;
  background-image: url("images/2.webp");
  background-size: cover;
  min-height: 378px;
}

.u-section-2 .u-container-layout-5 {
  padding: 50px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-6 {
  padding: 50px;
}

.u-section-2 .u-text-5 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 4px;
  font-size: 2.5rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8;
  font-family: "Shippori Mincho B1";
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-4 {
  min-height: 414px;
  background-position: 50% 50%;
  background-image: url("images/photolibrary-26.jpg");
  background-size: cover;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-8 {
  padding: 50px;
}

.u-section-2 .u-text-7 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 4px;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8;
  font-family: "Shippori Mincho";
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 357px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 357px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 357px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-2 {
    min-height: 357px;
    background-size: cover;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-3 {
    min-height: 319px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 319px;
  }

  .u-section-2 .u-image-4 {
    min-height: 357px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 357px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-2 .u-image-1 {
    min-height: 289px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-2 .u-image-2 {
    min-height: 289px;
  }

  .u-section-2 .u-image-3 {
    min-height: 263px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 263px;
  }

  .u-section-2 .u-image-4 {
    min-height: 289px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-2 .u-image-1 {
    min-height: 221px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 221px;
  }

  .u-section-2 .u-image-3 {
    min-height: 201px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 30px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 30px;
  }

  .u-section-2 .u-image-4 {
    min-height: 221px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-8 {
    padding: 30px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1935px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: -1579px;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 333px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 33px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 338px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 333px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-4 {
    min-height: 333px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1951px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 88px;
    margin-bottom: 35px;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 278px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    min-height: 213px;
  }

  .u-section-2 .u-image-3 {
    min-height: 278px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 40px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-4 {
    min-height: 278px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-position: 50% 50%, 0% 64.3%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/photolibrary-28.jpg');
  background-size: cover, 110%;
}

.u-section-3 .u-sheet-1 {
  min-height: 698px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 433px;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-3 .u-container-layout-1 {
  background-image: none;
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 6px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-f1e1-13 {
  height: 47px;
}

.u-section-3 .u-table-body-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
}

.u-block-f1e1-24 {
  height: 47px;
}

.u-section-3 .u-text-2 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 10px 0 0 auto;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 176px;
  }
} .u-section-4 {
  min-height: 1170px;
}

.u-section-4 .u-group-1 {
  width: 940px;
  min-height: 1043px;
  height: auto;
  box-shadow: 0px 0px 8px 0px rgba(217,217,217,1);
  margin: 70px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px 40px 50px;
}

.u-section-4 .u-text-1 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 710px;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  margin: 21px 0 0;
}

.u-section-4 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  margin: 21px 0 0;
}

.u-section-4 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  margin: 21px 0 0;
}

.u-section-4 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-9 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  margin: 21px 0 0;
}

.u-section-4 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-10 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-11 {
  font-family: "Shippori Mincho B1";
  letter-spacing: 1px;
  margin: 21px 0 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 90%;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding: 35px 35px 40px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 824px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 30px 35px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 10px;
  }
}